RewriteEngine On

# Rewrite requests to 'settings' to serve settings.json
RewriteRule ^((.*/)?(settings|menuItems))$ $1.json [L]

# If the request is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.html
RewriteRule ^open/?(.*)$ open/index.html?p=$1 [L]
