<!DOCTYPE html>
<html class="_html _nojs _scrollbar _a _hidden" id="_html" lang="en">
  
  <!-- Ace Template v0.1.27 b14 | (c) Copyright 2025 - Techie Joe -->
  <!-- layout:elements/_html -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Basics | Ace Template</title>
    <meta name="description" content="Basic elements are kept nice and tidy."/>
    <meta name="author" content="Techie Joe"/>
    <meta name="publisher" content="Tidloo Digital"/>
    <meta property="og:title" content="Basics | Ace Template"/>
    <meta property="og:description" content="Basic elements are kept nice and tidy."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://techie-joe.github.io/ace/components/basics.html?utm_source=homescreen"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/ace/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/ace/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/ace/icons/favicon-16x16.png"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/ace/icons/favicon.ico"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <style>
      html{font-family:system-ui,sans-serif}
      body{margin:0}
      ._view{overflow-y:scroll;padding:.5rem}
      ._dark hr{border-color:#666}
    </style>
    <link rel="stylesheet" media="all" href="/ace/assets/css/core_2/html.css?v=0.1.27-14" id="_core_style"/>
    <style>
      #_navlogo {
        border: 0;
        padding: .25em 1em;
        border-radius: 0;
        margin: 0;
        line-height: 2;
        font-size: 1.2em;
        box-sizing: border-box;
        width: 100%;
      }
    </style>
    <style>
      #_navbar { margin: -.5rem -1rem 0 }
      
    </style>
    <style>
      ._pageHeader,
      ._pageFooter,
      #_main ._article
      { max-width:60em;margin:.5rem auto }
      
    </style>
    <style>
      #_navbar ._nav_layout
      { margin:0;padding-left:0;min-height:2.9rem }
      
    </style>
  </head>
  <body class="_body" id="_body">
    <div class="_views" id="_views">
      <div class="_view _full_view">
        <div class="_view_layout">
          <header id="_header">
            <div class="_header_layout">
              <nav class="_no_print" id="_topRightNav">
                <div class="_nav_layout"><a class="_link _color _ticon" href="#" title="Change Theme (Ctrl+Alt+T)" onclick="event.preventDefault();theme.change();">☯</a><a class="_link _color" href="/ace/elements/" title="Back to parent page">&times;</a>
                </div>
              </nav>
              <nav class="_color_1 _no_print" id="_navbar">
                <div class="_nav_layout">
                  <div class="_flex">
                    <div class="_f">
                      <style>
                        #_navlogo {
                          border: 0;
                          padding: .25em 1em;
                          border-radius: 0;
                          margin: 0;
                          line-height: 2;
                          font-size: 1.2em;
                          box-sizing: border-box;
                          width: 100%;
                        }
                      </style><a class="_btnlink" href="/ace/" id="_navlogo"><b class="_tc_contra">Ace</b> <b class="_tc_blue">Builder</b></a>
                    </div>
                    <div class="_fill" style="flex-basis:20rem">
                      <div style="margin: .6rem"><a class="_link _l" href="./">Components</a><a class="_btnlink _l __secondary __active" href="basics.html">Basics</a><a class="_link _l" href="texts.html">Texts</a><a class="_link _l" href="icons.html">Icons</a><a class="_link _l" href="links.html">Links</a><a class="_link _l" href="buttons.html">Buttons</a><a class="_link _l" href="containers.html">Containers</a><a class="_link _l" href="alignment.html">Alignment</a><a class="_link _l" href="flex.html">Flex</a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="_pageHeader _simpleHeader">
                <h1 class="_h1" id="_heading">Basics
                </h1>
                <p id="_about">Basic elements are kept nice and tidy.</p>
                <hr/>
              </div>
            </div>
          </header>
          <main id="_main">
            <div class="_main_layout">
              <article class="_article">
                <style>
                  .box {
                    display:inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    width:100px;
                    height:50px;
                    padding:.25rem;
                  }
                  
                </style>
                <div class="_idiv _outline">
                  <div class="box _outline">outlined</div>
                  <div class="box _border">bordered</div><br>
                  <div class="box _outline">outlined</div>
                  <div class="box _border">bordered</div><br>
                </div>
                <hr>
                <div class="_p">
                  normal
                  <span>span</span>
                  <b>bold</b>
                  <span class="_b">span-bold</span>
                  <i>italic</i>
                  <span class="_i">span-italic</span>
                  <code>code</code>
                  <samp>samp</samp>
                  <kbd>keyboard</kbd>
                </div>
                <div class="_p">
                  <u>underlined</u>
                  <span class="_u">span-underlined</span>
                  <abbr title="abbreviation">abbr</abbr>
                  <span class="_u_dot">span-u-dot</span>
                  
                  <s>strikethrough</s>
                  <span class="_striked">span-striked</span>
                </div>
                <div class="_p">
                  normal
                  <small>small</small>
                  <span class="_small">span-small</span>
                  <span class="_smaller">smaller</span>
                  <span class="_smallest">smallest</span>
                </div>
                <div class="_p">
                  text
                  <sub>sub</sub>
                  <sup>sup</sup>
                  HTg_
                  <sub>g_</sub>
                  <sup>T^"</sup>
                </div>
                <div class="_p"><span class="_uppercase">uppercase</span>
                  <span class="_capitalize">capitalized text</span>
                </div>
                <div class="_p"><span class="_tc_blue">blue</span>
                  <span class="_tc_purple">purple</span>
                  <span class="_tc_orange">orange</span>
                  <span class="_tc_red">red</span>
                  <span class="_tc_green">green</span>
                  <span class="_tc_contra">contra</span>
                  <span>normal</span>
                  <span class="_outline">outline</span>
                  <span class="_select">select</span>
                </div>
                <hr>
                <p>paragraph</p>
                <div class="_p">paragraph-div</div>
                <pre>pre is in mono</pre>
                <div class="_pre">pre-div is also in mono</div>
                <dl>
                  <dt>term</dt>
                  <dd>description</dd>
                </dl>
                <blockquote>blockquote and 
                  <q>a quoted text</q> within a sentence.
                </blockquote>
                <hr>
                <ul>
                  <li>un-ordered list</li>
                </ul>
                <ul class="_no_bullet">
                  <li>no-bullet list</li>
                </ul>
                <ul class="_no_pad">
                  <li>no-pad list</li>
                </ul>
                <ul class="_plain">
                  <li>plain list</li>
                </ul>
                <ol>
                  <li>ordered list</li>
                </ol>
                <ol class="_no_bullet">
                  <li>no-bullet list</li>
                </ol>
                <ol class="_no_pad">
                  <li>no-pad list</li>
                </ol>
                <ol class="_plain">
                  <li>plain list</li>
                </ol>
                <hr>
                <div class="_p">
                    <table>
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Description</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Apple</td>
                          <td>A sweet red fruit</td>
                          <td>$1.00</td>
                        </tr>
                        <tr>
                          <td>Banana</td>
                          <td>A long yellow fruit</td>
                          <td>$0.50</td>
                        </tr>
                        <tr>
                          <td>Cherry</td>
                          <td>A small red fruit</td>
                          <td>$0.20</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2">Total</td>
                          <td>$1.70</td>
                        </tr>
                      </tfoot>
                    </table>
                </div>
                <div class="_p">
                    <table class="_table">
                      <thead>
                        <tr>
                          <th>Item</th>
                          <th>Description</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Apple</td>
                          <td>A sweet red fruit</td>
                          <td>$1.00</td>
                        </tr>
                        <tr>
                          <td>Banana</td>
                          <td>A long yellow fruit</td>
                          <td>$0.50</td>
                        </tr>
                        <tr>
                          <td>Cherry</td>
                          <td>A small red fruit</td>
                          <td>$0.20</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2">Total</td>
                          <td>$1.70</td>
                        </tr>
                      </tfoot>
                    </table>
                </div>
              </article>
            </div>
          </main>
          <aside id="_aside">
            <div class="_aside_layout">
            </div>
          </aside>
          <footer id="_footer">
            <div class="_footer_layout">
              <div class="_pageFooter _defaultFooter">
                <hr/>
                <p class="_small _system">&copy; Copyright 2025 - Techie Joe</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="_widgets" id="_widgets"></div>
    <script type="text/javascript" src="/ace/assets/js/theme_v1.0.js?v=0.1.27-14" defer="defer"></script>
    <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->
    
  </body>
</html>