<!DOCTYPE html>
<html class="_html _nojs _scrollbar _a _hidden _errorpage" id="_html" lang="en">
  
  <!-- Ace Builder v0.2.0 b1 | (c) Copyright 2025 - Techie Joe -->
  <!-- layout:components/_error -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Oops!</title>
    <meta name="description" content="Sorry, we have encountered an error while processing your request."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/ace/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/ace/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/ace/icons/favicon-16x16.png"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/ace/icons/favicon.ico"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <style>
      html{font-family:system-ui,sans-serif}
      body{margin:0}
      ._view{overflow-y:scroll;padding:.5rem}
      ._dark hr{border-color:#666}
    </style>
    <link rel="stylesheet" media="all" href="/ace/assets/css/core_2/html.css?v=0.2.0-1" id="_core_style"/>
    <link rel="stylesheet" media="all" href="/ace/assets//css/core/errorpage.css?v=0.2.0-1"/>
    <style>#_body:before { content:'components/_error';font-size:10px;position:absolute;top:0;left:0;opacity:.3;margin:.3rem .5rem; }</style>
    <style>#_body:before { content:'components/_error/e500' }</style>
  </head>
  <body class="_body" id="_body">
    <div class="_views" id="_views">
      <div class="_view _full_view">
        <div class="_view_layout">
          <main id="_main">
            <div class="_main_layout">
              <article class="_article">
                <h1 id="_h1">Oops!</h1>
                <p id="_p">Sorry, we have encountered an error while processing your request.</p>
                <nav id="_nav"><a class="_needjs _btnlink _xl" href="#" onclick="event.preventDefault();(function(w){var h=w.history;w.opener?w.close():h.length&gt;1?h.back():w.location.href=&quot;/&quot;;})(window)" title="Back to previous page"><span class="_btnlabel">Back</span></a>
                </nav>
              </article>
            </div>
          </main>
        </div>
      </div>
    </div>
    <div class="_widgets" id="_widgets"></div>
    <script type="text/javascript" src="/ace/assets/js/theme_v1.0.js?v=0.2.0-1" defer="defer"></script>
    <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->
    
  </body>
</html>