<!DOCTYPE html>
<html class="_html _nojs _scrollbar _a _hidden" id="_html" lang="en">
  
  <!-- Ace Builder v0.2.0 b1 | (c) Copyright 2025 - Techie Joe -->
  <!-- layout:components/_html -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Flex | Ace Builder</title>
    <meta name="description" content="Arrange contents neatly and facilitate responsiveness with flex elements."/>
    <meta name="author" content="Techie Joe"/>
    <meta name="publisher" content="Tidloo Digital"/>
    <meta property="og:title" content="Flex | Ace Builder"/>
    <meta property="og:description" content="Arrange contents neatly and facilitate responsiveness with flex elements."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://techie-joe.github.io/ace/components/flex.html?utm_source=homescreen"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/ace/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/ace/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/ace/icons/favicon-16x16.png"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/ace/icons/favicon.ico"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <style>
      html{font-family:system-ui,sans-serif}
      body{margin:0}
      ._view{overflow-y:scroll;padding:.5rem}
      ._dark hr{border-color:#666}
    </style>
    <link rel="stylesheet" media="all" href="/ace/assets/css/core_2/html.css?v=0.2.0-1" id="_core_style"/>
    <style>
      #_navlogo {
        border: 0;
        padding: .25em 1em;
        border-radius: 0;
        margin: 0;
        line-height: 2;
        font-size: 1.2em;
        box-sizing: border-box;
        width: 100%;
      }
    </style>
    <style>
      #_navbar { margin: -.5rem -1rem 0 }
      
    </style>
    <style>
      #_navbar ._nav_layout
      { margin:0;padding-left:0;min-height:2.9rem }
      
    </style>
    <style>
      ._html { min-width:0 }
      .o {
        box-shadow: 0 0 0 1px #f804 inset;
        padding:.25em 0;
        text-indent: .5em;
        font-size:.8em;
        font-weight:bold;
      }
      .o.min { text-indent:0; padding-left:.5em; padding-right: .5em }
      ._html .o { background-color: #ccc }
      ._dark .o { background-color: #333 }
      .o:hover { background-color: #8886 }
      
    </style>
  </head>
  <body class="_body" id="_body">
    <div class="_views" id="_views">
      <div class="_view _full_view">
        <div class="_view_layout">
          <header id="_header">
            <div class="_header_layout">
              <nav class="_no_print" id="_topRightNav">
                <div class="_nav_layout"><a class="_link _color _ticon" href="#" title="Change Theme (Ctrl+Alt+T)" onclick="event.preventDefault();theme.change();">☯</a><a class="_link _color" href="/ace/components/" title="Back to parent page">&times;</a>
                </div>
              </nav>
              <nav class="_color_1 _no_print" id="_navbar">
                <div class="_nav_layout">
                  <div class="_flex">
                    <div class="_f">
                      <style>
                        #_navlogo {
                          border: 0;
                          padding: .25em 1em;
                          border-radius: 0;
                          margin: 0;
                          line-height: 2;
                          font-size: 1.2em;
                          box-sizing: border-box;
                          width: 100%;
                        }
                      </style><a class="_btnlink" href="/ace/" id="_navlogo"><b class="_tc_contra">Ace</b> <b class="_tc_blue">Builder</b></a>
                    </div>
                    <div class="_fill" style="flex-basis:20rem">
                      <div style="margin: .6rem"><a class="_link _l" href="./">Components</a><a class="_link _l" href="basics.html">Basics</a><a class="_link _l" href="texts.html">Texts</a><a class="_link _l" href="icons.html">Icons</a><a class="_link _l" href="links.html">Links</a><a class="_link _l" href="buttons.html">Buttons</a><a class="_link _l" href="containers.html">Containers</a><a class="_link _l" href="alignment.html">Alignment</a><a class="_btnlink _l __secondary __active" href="flex.html">Flex</a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="_pageHeader _simpleHeader">
                <h1 class="_h1" id="_heading">Flex
                </h1>
                <p id="_about">Arrange contents neatly and facilitate responsiveness with flex elements.</p>
                <hr/>
              </div>
            </div>
          </header>
          <main id="_main">
            <div class="_main_layout">
              <article class="_article">
                <div class="_mv">
                  <div class="_flex">
                    <div class="_full o _tc_orange">FULL</div>
                    <div class="_f o _tc_orange min">DEFAULT ..</div>
                    <div class="_fill o min">FILL ..</div>
                  </div>
                </div>
                <div class="_mv">
                    <div class="_flex">
                      <div class="_f_2_1 o">2_1</div>
                      <div class="_f_2_1 o">2_1</div>
                    </div>
                </div>
                <div class="_mv">
                    <div class="_flex">
                      <div class="_f_3_1 o">3_1</div>
                      <div class="_f_3_2 o">3_2</div>
                    </div>
                  <div class="_flex">
                    <div class="_f_3_1 o">3_1</div>
                    <div class="_f_3_1 o">3_1</div>
                    <div class="_f_3_1 o">3_1</div>
                  </div>
                </div>
                <div class="_mv">
                    <div class="_flex">
                      <div class="_f_4_1 o">4_1</div>
                      <div class="_f_4_3 o">4_3</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_4_2 o">4_2</div>
                      <div class="_f_4_2 o">4_2</div>
                    </div>
                  <div class="_flex">
                    <div class="_f_4_1 o">4_1</div>
                    <div class="_f_4_1 o">4_1</div>
                    <div class="_f_4_1 o">4_1</div>
                    <div class="_f_4_1 o">4_1</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_2_1 o _tc_orange">2_1</div>
                    <div class="_f_2_1 o _tc_orange">2_1</div>
                  </div>
                </div>
                <div class="_mv">
                    <div class="_flex">
                      <div class="_f_12_1 o">12_1</div>
                      <div class="_f_12_11 o">12_11</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_12_2 o">12_2</div>
                      <div class="_f_12_10 o">12_10</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_12_3 o">12_3</div>
                      <div class="_f_12_9 o">12_9</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_12_4 o">12_4</div>
                      <div class="_f_12_8 o">12_8</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_12_5 o">12_5</div>
                      <div class="_f_12_7 o">12_7</div>
                    </div>
                    <div class="_flex">
                      <div class="_f_12_6 o">12_6</div>
                      <div class="_f_12_6 o">12_6</div>
                    </div>
                  <div class="_flex">
                    <div class="_f_12_4 o">12_4</div>
                    <div class="_f_12_4 o">12_4</div>
                    <div class="_f_12_4 o">12_4</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_12_3 o">12_3</div>
                    <div class="_f_12_3 o">12_3</div>
                    <div class="_f_12_3 o">12_3</div>
                    <div class="_f_12_3 o">12_3</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_12_2 o">12_2</div>
                    <div class="_f_12_2 o">12_2</div>
                    <div class="_f_12_2 o">12_2</div>
                    <div class="_f_12_2 o">12_2</div>
                    <div class="_f_12_2 o">12_2</div>
                    <div class="_f_12_2 o">12_2</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                    <div class="_f_12_1 o">12_1</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_4_1 o _tc_orange">4_1</div>
                    <div class="_f_4_1 o _tc_orange">4_1</div>
                    <div class="_f_4_1 o _tc_orange">4_1</div>
                    <div class="_f_4_1 o _tc_orange">4_1</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_3_1 o _tc_orange">3_1</div>
                    <div class="_f_3_1 o _tc_orange">3_1</div>
                    <div class="_f_3_1 o _tc_orange">3_1</div>
                  </div>
                  <div class="_flex">
                    <div class="_f_2_1 o _tc_orange">2_1</div>
                    <div class="_f_2_1 o _tc_orange">2_1</div>
                  </div>
                </div>
              </article>
            </div>
          </main>
          <aside id="_aside">
            <div class="_aside_layout">
            </div>
          </aside>
          <footer id="_footer">
            <div class="_footer_layout">
              <div class="_pageFooter _defaultFooter">
                <hr/>
                <p class="_small _system">&copy; Copyright 2025 - Techie Joe</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="_widgets" id="_widgets"></div>
    <script type="text/javascript" src="/ace/assets/js/theme_v1.0.js?v=0.2.0-1" defer="defer"></script>
    <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->
    
  </body>
</html>