<!DOCTYPE html>
<html class="_html _nojs _scrollbar _a _hidden" id="_html" lang="en">
  
  <!-- Ace Builder v0.2.0 b1 | (c) Copyright 2025 - Techie Joe -->
  <!-- layout:components/_html -->
  
  <head>
    <meta charset="utf-8"/>
    <title>Menu Elements | Ace Builder</title>
    <meta name="description" content="Build all types of menus with us."/>
    <meta name="author" content="Techie Joe"/>
    <meta name="publisher" content="Tidloo Digital"/>
    <meta property="og:title" content="Menu Elements | Ace Builder"/>
    <meta property="og:description" content="Build all types of menus with us."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://techie-joe.github.io/ace/components/menu.html?utm_source=homescreen"/>
    <meta property="og:image" content=""/>
    <meta property="og:image:alt" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta id="_color_scheme" name="color-scheme" content="light dark"/>
    <meta id="_theme_color" name="theme-color" content="#222222"/>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/ace/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/ace/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/ace/icons/favicon-16x16.png"/>
    <link rel="icon" type="image/x-icon" sizes="any" href="/ace/icons/favicon.ico"/>
    <!--[if lt IE 9]><script src="//unpkg.com/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <style>
      html{font-family:system-ui,sans-serif}
      body{margin:0}
      ._view{overflow-y:scroll;padding:.5rem}
      ._dark hr{border-color:#666}
    </style>
    <link rel="stylesheet" media="all" href="/ace/assets/css/core_2/html.css?v=0.2.0-1" id="_core_style"/>
    <style>
      #_navlogo {
        border: 0;
        padding: .25em 1em;
        border-radius: 0;
        margin: 0;
        line-height: 2;
        font-size: 1.2em;
        box-sizing: border-box;
        width: 100%;
      }
    </style>
    <style>
      #_navbar { margin: -.5rem -1rem 0 }
      
    </style>
    <style>
      ._pageFooter,
      #common ._main_layout
      { max-width:60em;margin:auto }
      
      ._view { overflow:auto }
      
      .btn { border:0 }
      .flatmenu ._nav_layout { margin:0 .5rem }
      .flatmenu .btn { border-radius:0;margin:0;vertical-align:top;line-height:2 }
      .flatmenu .btn.__icon { padding:0 .5em; font-size:1.25em }
      
    </style>
  </head>
  <body class="_body" id="_body">
    <div class="_views" id="_views">
      <div class="_view _full_view" id="common">
        <div class="_view_layout">
          <nav class="_no_print" id="_topRightNav">
            <div class="_nav_layout"><a class="_link _color _ticon" href="#" title="Change Theme (Ctrl+Alt+T)" onclick="event.preventDefault();theme.change();">☯</a><a class="_link _color" href="/ace/components/" title="Back to parent page">&times;</a>
            </div>
          </nav>
          <header id="_header">
            <div class="_header_layout">
              <div class="_pageHeader _simpleHeader">
                <h1 class="_h1" id="_heading">Menu Elements
                </h1>
                <p id="_about">Build all types of menus with us.</p>
                <hr/>
              </div>
              <div><a class="_btnlink _l" href="#common">Common</a><a class="_btnlink _l" href="#type_1">Type 1</a><a class="_btnlink _l" href="#type_2">Type 2</a>
              </div>
              <hr>
            </div>
          </header>
          <main id="_main">
            <div class="_main_layout">
              <article>
                <h2 class="_h2">Common Menu</h2>
                <nav class="_color_1 _radius_x5r _clearfix _mv" style="padding:0 .25rem">
                  <div class="_nav_layout"><a class="_link" href="#">Link</a><a class="_link __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_link __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_link __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_link __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_link __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M21,3H3C2,3 1,4 1,5V19A2,2 0 0,0 3,21H21C22,21 23,20 23,19V5C23,4 22,3 21,3M5,17L8.5,12.5L11,15.5L14.5,11L19,17H5Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a> | <a class="_btnlink" href="#">Button</a><a class="_btnlink __icon" href="#">&bull;</a><a class="_btnlink __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a>
                  </div>
                </nav>
                <nav class="_color_1 _radius_x5r _clearfix _mv">
                  <div class="_nav_layout"><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">About</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Services</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Gallery</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Contact</a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M21,3H3C2,3 1,4 1,5V19A2,2 0 0,0 3,21H21C22,21 23,20 23,19V5C23,4 22,3 21,3M5,17L8.5,12.5L11,15.5L14.5,11L19,17H5Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a>
                  </div>
                </nav>
                <nav class="_color_1 _radius_x5r _mv flatmenu">
                  <div class="_nav_layout"><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">About</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Services</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Gallery</a><a class="_btnlink _l btn" href="" onclick="event.preventDefault();">Contact</a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a><a class="_btnlink _l btn __icon" href="#"><i class="_isvg"><i class="isvg">
                          <svg viewBox="0 0 24 24">
                            <path d="M21,3H3C2,3 1,4 1,5V19A2,2 0 0,0 3,21H21C22,21 23,20 23,19V5C23,4 22,3 21,3M5,17L8.5,12.5L11,15.5L14.5,11L19,17H5Z" fill="currentColor" fill-opacity="1"></path>
                          </svg></i></i></a>
                  </div>
                </nav>
              </article>
            </div>
          </main>
          <footer id="_footer">
            <div class="_footer_layout">
              <div class="_pageFooter _defaultFooter">
                <hr/>
                <p class="_small _system">&copy; Copyright 2025 - Techie Joe</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="_view _full_view" id="type_1">
        <div class="_view_layout">
          <nav class="_color_1" style="padding:.1rem 0">
            <div class="_nav_layout"><a class="_link _l" href="" onclick="event.preventDefault();">About</a><a class="_link _l" href="" onclick="event.preventDefault();">Services</a><a class="_link _l" href="" onclick="event.preventDefault();">Gallery</a><a class="_link _l" href="" onclick="event.preventDefault();">Contact</a>
            </div>
          </nav>
          <div id="view_1">
            <div class="_main_layout">
              <div class="_p">
                <div><a class="_btnlink _l" href="#common">Common</a><a class="_btnlink _l" href="#type_1">Type 1</a><a class="_btnlink _l" href="#type_2">Type 2</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="_view _full_view" id="type_2">
        <div class="_view_layout">
          <style>.flexmenu ._nav_layout { margin:0 }</style>
          <nav class="_color_1 flexmenu">
            <div class="_nav_layout">
              <div class="_flex">
                <div class="_f">
                  <style>
                    #_navlogo {
                      border: 0;
                      padding: .25em 1em;
                      border-radius: 0;
                      margin: 0;
                      line-height: 2;
                      font-size: 1.2em;
                      box-sizing: border-box;
                      width: 100%;
                    }
                  </style><a class="_btnlink" href="#" id="_navlogo"><b class="_tc_contra">Your</b> <b class="_tc_blue">Logo</b></a>
                </div>
                <div class="_fill" style="flex-basis:20rem">
                  <div style="margin:.65rem"><a class="_link _l" href="" onclick="event.preventDefault();">About</a><a class="_link _l" href="" onclick="event.preventDefault();">Services</a><a class="_link _l" href="" onclick="event.preventDefault();">Gallery</a><a class="_link _l" href="" onclick="event.preventDefault();">Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <div id="view_2">
            <div class="_main_layout">
              <div class="_p">
                <div><a class="_btnlink _l" href="#common">Common</a><a class="_btnlink _l" href="#type_1">Type 1</a><a class="_btnlink _l" href="#type_2">Type 2</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_widgets" id="_widgets"></div>
    <script type="text/javascript" src="/ace/assets/js/theme_v1.0.js?v=0.2.0-1" defer="defer"></script>
    <!-- IE needs 512+ bytes: https://techie-joe.github.io/library/html5/ie#ie-needs-512-bytes -->
    
  </body>
</html>